@import "tailwindcss";


:root {
  --font-primary: 'Poppins', sans-serif;

  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 22px;

  --color-primary: #2563eb;
  --color-text: #1f2933;
}


html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  font-size: var(--font-medium);
}


h1 {
  font-size: var(--font-large);
}

p {
  font-size: var(--font-small);
}
